ion-tab-button{
    --color-selected: #ffffff;
    --color: #6F8DA4;
}
ion-tab-bar{
    --background: #29506D;
    height: 40px;
}
ion-label{
    font-size: .5rem;
}
ion-icon {
    --ionicon-stroke-width : 35px ;
}