<ion-content [fullscreen]="true" padding [scrollEvents]="true" #content>
  <ion-refresher slot="fixed" style="margin-top: 50px" (ionRefresh)="doRefresh($event)" mode="md">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding" style="margin-top: 10px;">
    <ion-text color="dark">
      <h1 style="font-weight: bold; font-size: 20px;">Encuentra tutoriales aquí</h1>
    </ion-text>
    <ion-searchbar mode="ios" class="ion-no-padding" placeholder="Buscar" autocomplete="on" (search)="buscar()" [(ngModel)]="busqueda"></ion-searchbar>
    <ion-text color="dark">
      <h5 style="font-weight: bold;">Categorias</h5>
    </ion-text>
    <div style="overflow-x: auto;white-space: nowrap" *ngIf="categorias.length>0">
      <ion-chip color="primary"  *ngFor="let categoria of categorias" (click)="listarCursosFiltro(categoria.id)">
        <ion-label>{{categoria.nombre | titlecase }}</ion-label>
      </ion-chip>
    </div>
    <div *ngIf="categorias.length==0">
        <ion-label style="font-size: .7rem; color: darkgray;">Cargando categorias...</ion-label>
    </div>
  </div>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col size="8" style="font-size: .6rem; display: flex; align-items: center;">
              Cursos recomendados
            </ion-col>
            <ion-col size="4">
              <a style="font-size: .6rem;">Ver todos</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="cursosRecomendados.length>0">
      <ion-slides [options]="slideOpts">
        <ion-slide style="padding-right: 10px" *ngFor="let curso of cursosRecomendados" (click)="irCurso(curso.idReproduccion)">
          <div class="slide">
            <img src="{{curso.imagen}}" style="filter: drop-shadow(3px 3px 4px #29506D);"/>
            <h2 style="font-size: .7rem;">{{curso.nombre}}</h2>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
    <ion-card-content *ngIf="cursosRecomendados.length<=0">
      <ion-slides>
        <ion-slide style="padding-right: 20px" *ngFor="let curso of [1,2,3,4]">
          <div class="slide">
            <img src="/assets/images/default.png" />
            <h2>Cargando cursos recomendados...</h2>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <div *ngIf="cursosFiltro">
    <ion-item-divider>
      <ion-label>
        Resultados de tu filtro
      </ion-label>
    </ion-item-divider>
    <ion-list  #scrollMe>
      <ion-list-header id="cantidad">
        {{cursosFiltro.length}} resultados
      </ion-list-header>
      <ion-item *ngFor="let cursoFiltro of cursosFiltro" (click)="irCurso(cursoFiltro.idReproduccion)">
        <ion-avatar slot="start">
          <img src="{{cursoFiltro.imagen}}">
        </ion-avatar>
        <ion-label>
          <h4>{{cursoFiltro.nombre}}</h4>
          <h5>{{cursoFiltro.descripcion}}</h5>
          <p>45 videos</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>