ion-toolbar {
  --background: translucent;
}
ion-content{
    --background: #F7FCFF;
}
ion-slide h2{
  text-align: left;
}
ion-slide img{
  width: 100%;
  border-radius: 7px;
}
::-webkit-scrollbar {
  display: none;
}
ion-card{
  margin: 0px 15px 0px 15px;
}
*{
  font-size: .9rem;
}
ion-card-header{
  padding: 5px;
}
ion-card-content{
  padding: 0px 15px 10px 15px;
}
ion-chip{
  color: #29506D;
}
h1,h2,h3,h4,h5{
  color: rgb(99, 99, 100);
}