<ion-content [fullscreen]="true">
  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-card-subtitle>
                    AngularJS             
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="2">
                  <ion-icon (click)="presentActionSheet('AngularJS')" name="ellipsis-vertical-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <circle-progress
              [percent]="85"
              [radius]="100"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-card-subtitle>
                    AngularJS             
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="2">
                  <ion-icon (click)="presentActionSheet('AngularJS')" name="ellipsis-vertical-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <circle-progress
              [percent]="85"
              [radius]="100"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-card-subtitle>
                    AngularJS             
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="2">
                  <ion-icon (click)="presentActionSheet('AngularJS')" name="ellipsis-vertical-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <circle-progress
              [percent]="85"
              [radius]="100"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-card-subtitle>
                    AngularJS             
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="2">
                  <ion-icon (click)="presentActionSheet('AngularJS')" name="ellipsis-vertical-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <circle-progress
              [percent]="85"
              [radius]="100"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
